---
import CV from "../components/CV.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Default from "../layout/default.astro";
---

<Default pageTitle="Contact">
  <Breadcrumbs items={[{ href: "/", label: "Accueil" }]} current="Contact" />
  <div class="hero">
    <div class="title">
      <h1>Me contacter</h1>
      <img src="/assets/icons/contact-h.svg" alt="" />
    </div>
    <p>N'hésitez pas à me contacter si mon profil vous a plu !</p>
  </div>
  <section class="contact__info">
    <div class="tel">
      <img
        src="/assets/icons/phone.svg"
        alt="Téléphone"
        width="19"
        height="19"
      />
      <a href="tel:+33612345678">+33 6 23 83 40 84</a>
    </div>
    <div class="email">
      <img src="/assets/icons/mail.svg" alt="Email" width="19" height="19" />
      <a href="mailto:nelia@tuta.io">nelia@tuta.io</a>
    </div>
  </section>
  <CV />
</Default>

<style>
  .tel a,
  .email a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: var(--step-0);
    text-decoration: none;
  }

  .tel,
  .email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-2xs);
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }
</style>
