---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import CV from "../components/CV.astro";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/style/fonts.css" />
    <link rel="stylesheet" href="/src/style/variables.css" />
    <title>Nélia Figuerola</title>
  </head>
  <body>
    <Nav />
    <header>
      <div class="title">
        <h1>Me contacter</h1>
        <img src="/public/assets/icons/contact-h.svg" alt="" />
      </div>
      <p>N’hésitez pas à me contacter si mon profil vous a plu !</p>
    </header>
    <main>
      <div class="contact__info">
        <div class="tel">
          <img
            src="/public/assets/icons/phone.svg"
            alt="Téléphone"
            width="19"
            height="19"
          />
          <a href="tel:+33612345678">+33 6 23 83 40 84</a>
        </div>
        <div class="email">
          <img
            src="/public/assets/icons/mail.svg"
            alt="Email"
            width="19"
            height="19"
          />
          <a href="mailto:nelia@tuta.io">nelia@tuta.io</a>
        </div>
      </div>
    </main>
    <CV />
    <Footer />
  </body>
</html>

<style>
  body {
    background: var(--primary);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: var(--space-xl);
  }

  header {
    display: flex;
    width: 100%;
    padding: 0 var(--space-m-l);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--space-s);
    box-sizing: border-box;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    padding: 0 var(--space-m-l);
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    gap: var(--space-2xl);
    box-sizing: border-box;
  }

  h1 {
    color: var(--title);
    font-family: "monotalic";
    font-size: var(--step-5);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    color: var(--title);
    font-family: "ABC Favorit Mono Edu";
    font-size: var(--step-4);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    color: var(--title);
    font-family: "ABC Favorit Mono Edu";
    font-size: var(--step-3);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: var(--step-0);
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .tel a,
  .email a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: var(--step-0);
    text-decoration: none;
  }

  .tel,
  .email {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-2xs);
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xs);
  }

  @media (max-width: 480px) {
    * img {
      display: none;
    }
  }
</style>
