---
import Button from "../components/Button.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/style/fonts.css" />
    <link rel="stylesheet" href="/src/style/variables.css" />
    <title>Nélia Figuerola</title>
  </head>
  <body>
    <Nav />
    <header>
      <div class="title">
        <h1>Mes projets</h1>
        <img src="/public/assets/icons/project-h.svg" alt="" />
      </div>
      <div class="hero">
        <p>
          Ici, vous pourrez voir mes réalisations professionnelles, personnelles
          et scolaires.
        </p>
      </div>
    </header>
    <main>
      <section class="projects">
        <div class="categories">
          <div class="category-filter">
            <h2>Catégories</h2>

            <ul class="filter-list">
              <li>
                <button class="filter-btn active" data-filter="all">Tout</button
                >
              </li>
              <li>
                <button class="filter-btn" data-filter="photographie"
                  >Photographie</button
                >
              </li>
              <li>
                <button class="filter-btn" data-filter="video">Vidéo</button>
              </li>
              <li>
                <button class="filter-btn" data-filter="webdesign"
                  >Webdesign</button
                >
              </li>
              <li>
                <button class="filter-btn" data-filter="projet-ux"
                  >Projet UX</button
                >
              </li>
              <li>
                <button class="filter-btn" data-filter="design-graphique"
                  >Design graphique</button
                >
              </li>
              <li>
                <button class="filter-btn" data-filter="communication"
                  >Communication</button
                >
              </li>
            </ul>
          </div>
          <img
            src="/public/assets/icons/categories.svg"
            alt=""
            width="134"
            height="135"
          />
        </div>
        <section class="gallery">
          <ProjectCard
            year="2026"
            type="Webdesign"
            category="Perso"
            filterType="webdesign"
            image="/assets/images/thumbnails/perso-homepage.png"
            alt="Projet webdesign perso"
            href="/wip"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2026"
            type="Photo"
            category="Scolaire"
            filterType="photographie"
            image="/assets/images/thumbnails/digital-event.png"
            alt="Projet photo scolaire"
            href="/projets/digital-event"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2026"
            type="Vidéo"
            category="Scolaire"
            filterType="video"
            image="/assets/images/thumbnails/patagonia.png"
            alt="Projet vidéo scolaire"
            href="/projets/patagonia"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2026"
            type="Design"
            category="Scolaire"
            filterType="design-graphique"
            image="/assets/images/thumbnails/totem.webp"
            alt="Projet design scolaire"
            href="/projets/totem"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2025-2026"
            type="Communication"
            category="Pro"
            filterType="communication"
            image="/assets/images/thumbnails/lca.svg"
            alt="Projet communication professionnel"
            href="/projets/lca"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2024-2026"
            type="Design"
            category="Perso"
            filterType="design-graphique"
            image="/assets/images/thumbnails/flo.jpg"
            alt="Projet design personnel"
            href="/projets/flo"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2025"
            type="Webdesign"
            filterType="webdesign"
            category="Pro"
            image="/assets/images/thumbnails/mister-freeze.png"
            alt="Projet webdesign professionnel"
            href="/projets/mister-freeze"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2025"
            type="Projet UX"
            category="Scolaire"
            filterType="projet-ux"
            image="/assets/images/thumbnails/culture-ux.jpg"
            alt="Projet UX scolaire"
            href="/projets/design-thinking"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2025"
            type="Projet UX"
            category="Scolaire"
            filterType="projet-ux"
            image="/assets/images/thumbnails/spiral-ux.jpg"
            alt="Projet UX scolaire"
            href="/projets/spiral-editions"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2025"
            type="Vidéo"
            category="Scolaire"
            filterType="video"
            image="/assets/images/thumbnails/optique.jpg"
            alt="Projet vidéo scolaire"
            href="/projets/optique-perignon"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2023"
            type="Photo"
            category="Scolaire"
            filterType="photographie"
            image="/assets/images/thumbnails/lbav.jpg"
            alt="Projet photo scolaire"
            href="/projets/friperie"
            buttonLabel="Voir le projet"
          />
          <ProjectCard
            year="2022"
            type="Photo"
            category="Perso"
            filterType="photographie"
            image="/assets/images/thumbnails/st-jacques.JPG"
            alt="Projet photo personnel"
            href="/projets/photos-perso"
            buttonLabel="Voir le projet"
          />
        </section>
      </section>
      <Contact />
    </main>
    <Footer />
  </body>
</html>

<script>
  const buttons = document.querySelectorAll<HTMLButtonElement>(".filter-btn");
  const cards = document.querySelectorAll<HTMLElement>(".project-card");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const filter = button.dataset.filter;

      buttons.forEach((btn) => btn.classList.remove("active"));
      button.classList.add("active");

      cards.forEach((card) => {
        const cardType = card.dataset.type;

        if (filter === "all" || cardType === filter) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    });
  });
</script>

<style>
  body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    align-items: stretch;
    gap: 80px;
  }

  .hero {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  header {
    display: flex;
    width: fit-content;
    padding: 0px 120px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

  h1 {
    color: var(--title);
    font-family: "Monotalic";
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    color: var(--title);
    font-family: "ABC Favorit Mono Edu";
    font-size: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h3 {
    color: var(--title);
    font-family: "ABC Favorit Mono Edu";
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  li {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  main {
    display: flex;
    padding: 0px 120px;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
    align-self: stretch;
    gap: 80px;
  }

  .categories ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: sticky;
    height: fit-content;
    top: 180px;
  }

  .category-filter {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    border-radius: 5px;
    gap: 30px;
    padding: 60px 20px;
  }

  .filter-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
  }

  .filter-btn.active {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .projects {
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 4rem;
    align-items: start;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    align-items: start;
  }
</style>
