---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import Head from "../components/Head.astro";
---

<html lang="fr">
  <Head />
  <body>
    <Nav />
    <main>
      <header>
        <h1 class="project-title">Page en construction</h1>
        <p>
          Cette page est actuellement en construction, elle sera bientôt
          disponible !
        </p>
        <Button title="Retour" href="#" id="back" />
        <script>
          document.getElementById("back")?.addEventListener("click", () => {
            history.back();
            console.log("click");
          });
        </script>
      </header>
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
  }

  main {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    gap: var(--space-2xl);
    margin-top: 150px;
  }

  header {
    display: flex;
    width: fit-content;
    padding: 0 10px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  p {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
</style>
