@font-face {
  font-family: "ABC Favorit Mono Edu";
  src: url("/assets/fonts/ABCFavoritMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fibra One";
  src: url("/assets/fonts/FibraOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fibra One";
  src: url("/assets/fonts/FibraOne-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: "monotalic";
	src: url(/assets/fonts/monotalic.woff2) format("woff2");
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

@font-face {
  font-family: "ArialReplace";
  src: local("Arial");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.project-title {
  color: var(--title);
  font-family: "Monotalic";
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-heading {
  color: var(--title);
  font-family: "ABC Favorit Mono Edu";
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-subheading {
  color: var(--title);
  font-family: "ABC Favorit Mono Edu";
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .project-title {
    font-size: 36px;
  }

  .project-heading {
    font-size: 32px;
  }

  .project-subheading {
    font-size: 28px;
  }
}
