@font-face {
  font-family: "ABC Favorit Mono Edu";
  src: url("/assets/fonts/ABCFavoritMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fibra One";
  src: url("/assets/fonts/FibraOne-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fibra One";
  src: url("/assets/fonts/FibraOne-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "monotalic";
  src:
    url("https://use.typekit.net/af/1cb92c/00000000000000007735b6e7/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1cb92c/00000000000000007735b6e7/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1cb92c/00000000000000007735b6e7/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "ArialReplace";
  src: local("Arial");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  size-adjust: 98%;
}

.project-title {
  color: var(--title);
  font-family: "Monotalic";
  font-size: 55px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-heading {
  color: var(--title);
  font-family: "ABC Favorit Mono Edu";
  font-size: 44px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-subheading {
  color: var(--title);
  font-family: "ABC Favorit Mono Edu";
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .project-title {
    font-size: 36px;
  }

  .project-heading {
    font-size: 32px;
  }

  .project-subheading {
    font-size: 28px;
  }
}
