@import "../../src/style/style.css";

.project-page {
	display: flex;
	gap: var(--space-l);
	margin-top: 0;
}

section {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.project-markdown {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}

.project-intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-l);
}

.project-intro p {
	background-color: var(--secondary);
	padding: var(--space-m);
	width: 100%;
}

li, a {
	color: var(--text-primary);
}

.project-intro__image {
	align-self: center;
	width: 50%;
}

.productions__inner p {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: var(--space-l);
	justify-content: center;
}

.photos p {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--space-xs);
	max-width: fit-content;
	align-self: center;
}

.photos img {
	width: 70%;
}

.photos-bottom {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

img {
	width: 35%;
	height: fit-content;
}

@media screen and (max-width: 480px) {
	img {
		display: flex;
		flex-direction: column;
	}

	.project-page {
		margin: var(--space-s);
	}

	.project-intro {
		padding: 0;
	}
}