---
const { items, current } = Astro.props;

if (!items || !current) return;
---

<nav aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    {
      items.map((item, index) => (
        <>
          <li>
            <a href={item.href}>{item.label}</a>
          </li>
          {index < items.length - 0 && (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25px"
              height="25px"
              viewBox="0 0 24 24"
            >
              <path
                fill="#351e1c"
                fill-rule="evenodd"
                d="M9.97 7.47a.75.75 0 0 1 1.06 0l4 4a.75.75 0 0 1 0 1.06l-4 4a.75.75 0 1 1-1.06-1.06L13.44 12L9.97 8.53a.75.75 0 0 1 0-1.06"
                clip-rule="evenodd"
              />
            </svg>
          )}
        </>
      ))
    }
    <li><span aria-current="page">{current}</span></li>
  </ol>
</nav>

<style>
  ol {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
  }

  li,
  a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .breadcrumb {
    padding: 0 10px;
  }
</style>
