<a href="#">Voir mon autre profil</a>

<style>
  a {
    display: flex;
    height: 40px;
    padding: 6px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid var(--brown, #733635);
    background: var(--beige, #ececdc);
    color: var(--brown, #733635);
    font-family: "Fibra One";
    font-size: 20px;
    list-style: none;
  }
</style>
