---
const platform = "github";
const username = "withastro";
---

<footer>
  <div class="plan">
    <h3>Plan du site</h3>
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/a-propos/">À propos</a></li>
      <li><a href="/mes-projets">Mes projets</a></li>
      <li><a href="/inspirations">Inspirations</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <ul>
      <li><a href="tel:+33623834084">+33 6 23 83 40 84</a></li>
      <li><a href="mailto:nelia@tuta.io">nelia@tuta.io</a></li>
      <li>
        <a href="https://www.linkedin.com/in/nelia-figuerola/"> LinkedIn </a>
      </li>
      <li><a href="https://github.com/deliass"> GitHub </a></li>
      <li><a href="https://www.instagram.com/dalios.web/">Instagram</a></li>
    </ul>
  </div>
  <div class="mentions">
    <h3>Mentions</h3>
    <p>
      <a href="/mentions-legales">Mentions légales</a>
    </p>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-around;
    padding: 60px 120px;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 30px;
    background: var(--secondary);
  }

  h3 {
    color: var(--title);
    font-family: "ABC Favorit Mono Edu";
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  .plan,
  .contact,
  .mentions {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .plan ul,
  .contact ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
</style>
