---
import Nav from "../../components/Nav.astro"
import Footer from "../../components/Footer.astro"
import Breadcrumbs from "../../components/Breadcrumbs.astro"
import Head from "../../components/Head.astro"
---

<html lang="fr">
	<Head />
	<body>
		<Nav />
		<main>
			<Breadcrumbs
				items={[
					{ href: "/", label: "Accueil" },
					{ href: "/projets", label: "Mes projets" },
				]}
				current="Design Thinking"
			/>
			<header>
				<h1 class="project-title">Projet d'UX</h1>
			</header>
			<section class="def">
				<div class="def__inner">
					<p>
						Mon initiation au Design Thinking, aka ma méthodologie UX favorite !
						Cours donné par Mathieu Estivil.
					</p>
					<a href="https://www.linkedin.com/in/mathieuestivill/" target="_blank"
						>Visiter son LinkedIn</a
					>
				</div>
			</section>
			<section class="contexte">
				<h2 class="project-heading">Contexte</h2>
				<p>
					Tout au long de ma 2ème année d'étude en Bachelor Chef de Projet
					Digital, nous avions pour projet de choisir un produit, service ou
					concept avec un mauvais Design Thinking, et de travailler dessus pour
					l'améliorer.
				</p>
				<p>
					Pour ma part, j'ai choisi de traiter la question de l'accessibilité
					aux lieux culturels pour les personnes en situation de handicap. <br
					/>J'ai donc mené ma recherche en créant des proto personas, leurs
					cartes d'empathie et d'expérience. Puis j'ai recommencé, cette fois
					avec une étude quantitative et qualitative, pour aboutir mon projet en
					rajoutant le traitement de verbatims.
				</p>
			</section>
			<section class="skills">
				<h2 class="project-heading">Compétences</h2>
				<p>
					Lors de ce projet, j'ai utilisé des sites classiques tels que Canva,
					Figma et Forms. Mais j'ai aussi été me servir de Monday pour planifier
					mes sessions de travail.
				</p>
			</section>
			<section class="productions">
				<h2 class="project-heading">Le rendu</h2>
				<p>
					Si vous voulez voir la présentation finale, vous pouvez la consulter
					ici, pour découvrir mon process :
				</p>
				<div
					style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;"
				>
					<iframe
						loading="lazy"
						style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
						src="https://www.canva.com/design/DAGnXxDnyUo/ikSj-AueEK3ahP5R9hYQvw/view?embed"
						allowfullscreen="allowfullscreen"
						allow="fullscreen"
					>
					</iframe>
				</div>
				<a
					href="https://www.canva.com/design/DAGnXxDnyUo/ikSj-AueEK3ahP5R9hYQvw/view?utm_content=DAGnXxDnyUo&utm_campaign=designshare&utm_medium=embeds&utm_source=link"
					target="_blank"
					rel="noopener"></a>
			</section>
		</main>
	</body><Footer />
</html>

<style>
	main {
		display: flex;
		flex-direction: column;
		max-width: 1200px;
		gap: var(--space-2xl);
		box-sizing: border-box;
		margin-top: 150px;
	}

	body {
		background: var(--primary);
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		gap: var(--space-xl);
	}

	section {
		padding: 0 var(--space-s-m);
	}

	header {
		display: flex;
		width: 100%;
		padding: 0 var(--space-s-m);
		flex-direction: column;
		gap: var(--space-s);
	}

	p {
		color: var(--text-primary);
		font-family: "Fibra One";
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	a {
		color: var(--text-primary);
		font-family: "Fibra One";
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.hero {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
	}

	.photos {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 20px;
	}

	.photo-bottom {
		width: 100%;
		height: auto;
	}

	.contexte,
	.skills,
	.productions {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.def {
		width: 100%;
		background: var(--secondary);
	}

	.def__inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
		padding: var(--space-s-m);
	}

	@media screen and (max-width: 480px) {
		main {
			margin-top: 0;
		}
	}
</style>
