---
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Head from "../../components/Head.astro";
import BaseLayout from "../../layout/default.astro";
---

<BaseLayout pageTitle="Digital Event">
  <Head />
  <Breadcrumbs
    items={[
      { href: "/", label: "Accueil" },
      { href: "/projets", label: "Mes projets" },
    ]}
    current="Digital Event"
  />
  <section class="intro">
    <h1 class="project-title">Projet photo *Digital Event 2026</h1>

    <img src="/assets/images/projects/digital-event/digital-event.png" alt="" />
  </section>
  <section class="def">
    <div class="def__inner">
      <p>
        <b>*Digital Event :</b><br />Événement phare de l’ESD, ce projet de 2
        semaines réunit chaque année les étudiants de l’école répartis dans
        différents ateliers pour imaginer et concevoir des dispositifs
        interactifs.
      </p>
      <a
        href="https://ecole-du-digital.com/lecole/le-digital-event/"
        target="_blank">En lire plus sur le site de mon école</a
      >
    </div>
  </section>
  <section class="contexte">
    <h2 class="project-heading">Contexte</h2>
    <p>
      Cette année, l’évènement nous demandait d’exercer sur la thématique du
      cinéma. Je ne peux pas dire que je suis une cinéphile, certes, mais je ne
      peux que conseiller de regarder <a
        href="https://fr.wikipedia.org/wiki/Midsommar_(film)"
        target="_blank">Midsommar</a
      > ! <br />
      Ce film est, à mes yeux, un chef d’œuvre artistique, une nouvelle manière d’aborder
      l’horreur, dans des couleurs plus gaies, en plein jour, avec des personnes qui
      ont l’air si attachante, avec une atmosphère si détendue... Alors, il était
      pour moi évident de photographier sur ce film, et surtout, sur ma scène préférée.
      <br />
      Pour m’aider à justifier mon choix, nous avions décidé de photographier des
      scènes de films, existantes ou non. Nos scènes devaient représenter le doute.
      Que ce soit lors de la réflexion, lors de la prise de décision, ou bien après
      la décision/l’acte.
    </p>
  </section>
  <section class="skills">
    <h2 class="project-heading">Compétences</h2>
    <p>
      J’ai eu l’occasion de m’essayer sur Adobe Lightroom Classic, que j’ai
      trouvé extrêmement intuitif. Mais pour parler plus technique, j’ai pu
      aussi redécouvrir le réglage photo, la mise en place de lumières, la
      construction de mon décor de photo, mais aussi la scénographie de notre
      atelier, à l’école.
    </p>
  </section>
  <section class="also">
    <h2 class="project-heading">J'apparais aussi ici...</h2>
    <img
      src="/assets/images/projects/digital-event/photo-noa.png"
      alt=""
      class="photo-bottom"
    />
    <p>Inspirée de Pearl et Maxxxine, photo prise par @noharrttt_ .</p>
  </section>
</BaseLayout>

<style>
  section {
    padding: 0 var(--space-s-m);
  }

  .intro {
    display: flex;
    width: 100%;
    gap: var(--space-2xs);
  }

  .photos {
    display: flex;
    width: 100%;
  }

  .photo-bottom {
    width: 100%;
  }

  .contexte,
  .skills,
  .also {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .def {
    width: 100%;
    background: var(--secondary);
  }

  .def__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--space-s-m);
  }
</style>
