---
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Head from "../../components/Head.astro";
---

<html lang="fr">
  <Head />
  <body>
    <Nav />
    <main>
      <Breadcrumbs
        items={[
          { href: "/portfolio/", label: "Accueil" },
          { href: "/portfolio/mes-projets", label: "Mes projets" },
        ]}
        current="Lunetterie Pérignon"
      />
      <header>
        <h1 class="project-title">Projet pour *Lunetterie Pérignon</h1>
        <div class="hero">
          <img
            src="/portfolio/assets/images/projects/perignon/logo-perignon.png"
            alt=""
            height="80"
            width="200"
          />
        </div>
      </header>
      <section class="def">
        <div class="def__inner">
          <p>
            <b>*Lunetterie Pérignon :</b>
            <br />Marion et Jean-Philippe ont créé leur boutique il y a quelques
            années et ont fait appel aux étudiants de mon école pour plusieurs
            sujets, dont la création de contenus pour leurs réseaux sociaux.
          </p>
        </div>
      </section>
      <section class="contexte">
        <h2 class="project-heading">Contexte</h2>
        <p>
          Nous devions réaliser une vidéo promotionnelle pour leur boutique.
          Nous nous sommes alignés avec leurs valeurs et motivations, et avons
          décidés de faire une pub avec un ton humoristique et décalé, afin de
          mettre en avant leurs produits.
        </p>
      </section>
      <section class="skills">
        <h2 class="project-heading">Compétences</h2>
        <p>
          Ici, j'ai beaucoup travaillé sur la partie de pré-production, mais
          aussi post production avec le montage de la vidéo sur Première Pro.
        </p>
      </section>
      <section class="productions">
        <h2 class="project-heading">La production</h2>
        <p>
          Je vous invite à consulter la présentation finale, pour découvrir
          notre argumentation et la vidéo :
        </p>
        <div
          style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;"
        >
          <iframe
            loading="lazy"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https://www.canva.com/design/DAG1q-pejLI/pqMinMASNIbCjTtBg5kLvg/view?embed"
            allowfullscreen="allowfullscreen"
            allow="fullscreen"
          >
          </iframe>
        </div>
        <a
          href="https://www.canva.com/design/DAG1q-pejLI/pqMinMASNIbCjTtBg5kLvg/view?utm_content=DAG1q-pejLI&utm_campaign=designshare&utm_medium=embeds&utm_source=link"
          target="_blank"
          rel="noopener"></a>
      </section>
    </main>
  </body><Footer />
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: var(--space-2xl);
    box-sizing: border-box;
    margin-top: 150px;
  }

  body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: var(--space-xl);
  }

  section {
    padding: 0 var(--space-s-m);
  }

  header {
    display: flex;
    width: 100%;
    padding: 0 var(--space-s-m);
    flex-direction: column;
    gap: var(--space-s);
  }

  p {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hero {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .photo-bottom {
    width: 100%;
    height: auto;
  }

  .contexte,
  .skills,
  .productions {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .def {
    width: 100%;
    background: var(--secondary);
  }

  .def__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--space-s-m);
  }

  @media screen and (max-width: 480px) {
    main {
      margin-top: 0;
    }
  }
</style>
