---
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Head from "../../components/Head.astro";
---

<html lang="fr">
  <Head />
  <body>
    <Nav />
    <main>
      <Breadcrumbs
        items={[
          { href: "/", label: "Accueil" },
          { href: "/mes-projets", label: "Mes projets" },
        ]}
        current="Patagonia"
      />
      <header>
        <h1 class="project-title">Projet fictif pour Patagonia</h1>
        <div class="hero">
          <img
            src='/portfolio/assets/images/projects/patagonia/patagonia.png"'
            alt=""
          />
        </div>
      </header>
      <section class="def">
        <div class="def__inner">
          <p>
            Projet fictif réalisé dans le cadre de mes études, pour la marque
            Patagonia.
          </p>
        </div>
      </section>
      <section class="contexte">
        <h2 class="project-heading">Contexte</h2>
        <p>
          Le projet consistait à imaginer une campagne de communication, et de
          propositions UI et UX pour le site web de la marque, en respectant son
          identité et ses valeurs. Nous avions 4 sujets, le 1er était de
          réécrire des descpritions de posts Instagram déjà existants. Le 2ème
          était de créer une vidéo pour leurs réseaux sociaux. Le 3ème était de
          faire des recommandations UX de leur site. Et le dernier était de
          proposer une maquette de leur site web.
        </p>
      </section>
      <section class="skills">
        <h2 class="project-heading">Compétences</h2>
        <p>
          Ici, j'ai surtout travaillé les recommandations UX et la maquette du
          site, mais j'ai aussi pu travailler sur la création de la vidéo, en
          tant que commédienne, puis sur la partie de pré-production.
        </p>
      </section>
      <section class="productions">
        <h2 class="project-heading">Les productions</h2>
        <p>
          Voici <a
            href="https://www.figma.com/proto/KZkasfY40baPn7AldgNYbQ/patagonia?page-id=0%3A1&node-id=1-26&p=f&viewport=140%2C311%2C0.11&t=zELMVhi4PgWjh4qa-1&scaling=min-zoom&content-scaling=fixed"
            target="_blank">le lien</a
          > pour voir la maquette du site et les recommandations UX.
        </p>
        <p>
          <a
            href="https://www.instagram.com/reel/DVPUqYkiLqf/?utm_source=ig_web_copy_link"
            target="_blank">Ici</a
          >, vous trouverez la vidéo.
        </p>
        <p>
          Enfin, si vous voulez voir la présentation finale, vous pouvez la
          consulter ici, pour découvrir notre argumentation :
        </p>
        <div
          style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
 					padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 						border-radius: 8px; will-change: transform;"
        >
          <iframe
            loading="lazy"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https://www.canva.com/design/DAG5_dM4wsk/HK7wyiMPkEhl_0g55gUzsA/view?embed"
            allowfullscreen="allowfullscreen"
            allow="fullscreen"
          >
          </iframe>
        </div>
        <a
          href="https://www.canva.com/design/DAG5_dM4wsk/HK7wyiMPkEhl_0g55gUzsA/view?utm_content=DAG5_dM4wsk&utm_campaign=designshare&utm_medium=embeds&utm_source=link"
          target="_blank"
          rel="noopener"></a>
      </section>
    </main>
  </body><Footer />
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    gap: var(--space-2xl);
    box-sizing: border-box;
    margin-top: 150px;
  }

  body {
    background: var(--primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: var(--space-xl);
  }

  section {
    padding: 0 var(--space-s-m);
  }

  header {
    display: flex;
    width: 100%;
    padding: 0 var(--space-s-m);
    flex-direction: column;
    gap: var(--space-s);
  }

  p {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  a {
    color: var(--text-primary);
    font-family: "Fibra One";
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .photo-bottom {
    width: 100%;
    height: auto;
  }

  .contexte,
  .skills,
  .productions {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .def {
    width: 100%;
    background: var(--secondary);
  }

  .def__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: var(--space-s-m);
  }

  @media screen and (max-width: 480px) {
    main {
      margin-top: 0;
    }
  }
</style>
